.footer {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
}

.footer > span {
    font-weight: 300;
    font-size: 1.1rem;
}

.footer span a {
    text-decoration: none;
}

.footer strong {
    cursor: pointer;
}